{% extends 'base.html.twig' %}

{% block title %}Hello PageDeLiensController!{% endblock %}

{% block body %}


<h1>Page de redirection temporaire</h1>

<ul>
    <li><a href="{{ path('app_ajouter_sa') }}">Ajouter un SA</a></li>
    <li><a href="{{ path('app_supprimer_sa') }}">Supprimer un SA</a></li>
    <li><a href="{{ path('app_ajouter_salle') }}">Ajouter une salle</a> </li>
    <li><a href="{{ path('app_historique_salle') }}">Historique d'une salle</a></li>
    <li><a href="{{ path('app_info_salle') }}">Information de salle</a></li>
    <li><a href="{{ path('app_modifier_salle') }}">Modifier une salle</a></li>
    <li><a href="{{ path('app_supprimer_salle') }}">Supprimer une salle</a> </li>
</ul>

{% endblock %}
